.Contant-links i {
  border-radius: 18px;
  color: black;
  padding: 11px;
}
.Contant-links .card {
  border: none;
}
@media screen and (max-width: 768px) {
  .footer,
  .navbar,
  .container {
    --bs-gutter-x: 0.5rem;
  }
}

@media screen and (min-width: 770px) and (max-width: 1024px)  {
  .footer,
  .navbar,
  .container {
    --bs-gutter-x: 12.5rem;
  }
}
