:root {
  --primary: #ff9f0d;
}
.primary-text {
  color: var(--primary);
}
.primary-color {
  background-color: var(--primary);
}
.border-primary {
  border-color: var(--primary);
}
.b-border-primary {
  border-bottom: 2px solid var(--primary);
}
.btn-primary{
  background-color: #ffffff ;
  color: var(--primary);
  border: none;
  padding: 10px 20px;
  border-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
/*sart nav bar*/
.nav {
  --bs-nav-link-hover-color: var(--primary);
  --bs-nav-link-color: #444141;
}

.navbar-toggler {
  background-color: var(--primary);
}

.navbar-nav {
  --bs-nav-link-color: #ffffff;
  --bs-nav-link-hover-color: var(--primary);
}
.nav-link {
    color: #ffffff;
}


/*end nav bar*/
/*start hero section*/

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero p {
  color: #ffffff;
}
.hero .hero-content {
  margin-top: 100px;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero a {
  text-decoration: none;
  color: #ffffff;
}
.hero .breadcrumb-item {
  color: var(--primary);
}
.breadcrumb-item + .breadcrumb-item::before {
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .hero .hero-content {
    margin-top: 30px;
    text-align: center;
    flex-direction: column;
  }
  .hero p {
    margin-bottom: 1px;
  }
}
/*end hero section*/
/*start about us section*/
.AboutUs-for-lap {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  margin-bottom: 100px;
}

.AboutUs-for-lap .img {
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 1;
}

.AboutUs-for-lap .overlay {
  position: absolute;
  height: 100%;
  background: #0d0d0dd9;
  backdrop-filter: blur(1px);
  z-index: 2;
}
.AboutUs-body {
  position: absolute;
  z-index: 3;
}
.AboutUs-body .card {
  --bs-card-bg: none;
  --bs-card-border-color: none;
  color: #ffffff;
  padding: 103px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.AboutUs-body .card-img {
  width: 120px;
  height: 120px;
  margin-bottom: 40px;
}
.AboutUs-body .card-title {
  margin-bottom: 20px;
  text-align: center;
}
.AboutUs-for-tablet {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  margin-bottom: 100px;
}

.AboutUs-for-tablet .img-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 1;
}
.AboutUs-for-tablet .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0d0d0dd9;
  backdrop-filter: blur(1px);
  z-index: 2;
}

.carousel-item {
  position: relative;
  width: 100%;
  height: 500px;
}

.carousel-inner {
  height: 100%;
  align-items: center;
}

.carousel-card {
  position: relative;
  z-index: 3;
  text-align: center;
  color: #fff;
  padding-top: 140px;
}
.carousel-card-img {
  width: 120px;
  height: 120px;
  margin-bottom: 40px;
}
.carousel-card-title {
  font-size: 2.5rem;
  font-weight: bold;
}

/*end about us section*/
/*start Clients section*/
.Clients .container {
  --bs-gutter-x: 19.5rem;
}
.Clients .Clients-for-taplet .container {
  --bs-gutter-x: 6.5rem;
}
.carousel-control-prev,
.carousel-control-next {
  top: 10%;
  width: 50px;
  height: 0px;
}
/*end Clients section*/
/*start footer section*/
.footer,.navbar,.container {
  --bs-gutter-x: 19.5rem;
}
@media screen and (max-width: 600px) {
  .footer,.navbar,.container {
    --bs-gutter-x: 6.5rem;
  }
}
.footer-body .card {
  --bs-card-border-width: 0;
}
.form-control {
  color: #ffffff;
  background-color: var(--primary);
  border: none;
   border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.Working-hours{
  align-items: center;
}
.body-img-watch {
  display: flex;
  align-items: center;
}
.body-img-watch .card-body {
  color: #ffffff;
  font-size: 0.85rem; 
  line-height: 1.2;
}
.body-img-watch h5 {
  font-size: 1rem;
  margin-bottom: 4px;
}
.Recent-Post .container {
  --bs-gutter-x: 3.5rem;
}
.Recent-Post .card{
  --bs-card-border-width: 0;
   align-items: center;
}
.Recent-Post .card-body {
  align-items: center;
  font-size: 0.85rem; 
  line-height: 1.2;
}
.Help a{
  margin-bottom: 15px;
}
.Useful-Links a{
  margin-bottom: 15px;

}
@media screen and (max-width: 768px) {
  .Useful-Links, .Help {
    width: 50%;
    display: inline-block; 
    margin: 30px 0;
  }
 
}

@media screen and (max-width: 600px) {
  .Recent-Post ,.container {
    --bs-gutter-x: 7.5rem;
    
  }
}



