:root {
  --primary: #ff9f0d;
}
.primary-text {
  color: var(--primary);
}
/*sart nav bar*/
.nav {
  --bs-nav-link-hover-color: var(--primary);
  --bs-nav-link-color: #ffffff;
}

.navbar-toggler {
  background-color: var(--primary);
}

.navbar-nav {
  --bs-nav-link-color: #ffffff;
  --bs-nav-link-hover-color: var(--primary);
}

/*end nav bar*/
/*start hero section*/

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero p {
  color: #ffffff;
}
.hero .hero-content {
  margin-top: 100px;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero a {
  text-decoration: none;
  color: #ffffff;
}
.hero .breadcrumb-item {
  color: var(--primary);
}
.breadcrumb-item + .breadcrumb-item::before {
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .hero .hero-content {
    margin-top: 30px;
    text-align: center;
    flex-direction: column;
  }
  .hero p {
    margin-bottom: 1px;
  }
}
/*end hero section*/
/*start menu-1 section*/

.menu-1 .category p {
  margin: 0;
}

.menu-1 .category {
  margin: 0;
}
.menu-1 .card {
  --bs-card-spacer-x: 4rem;
  --bs-card-border-width: none;
}
.menu-1 {
  margin: 120px 0;
}
/*end menu-1 section*/
/*start menu-2 section*/
.menu-2 .category p {
  margin: 0;
}

.menu-2 .category {
  margin: 0;
}
.menu-2 .card {
  --bs-card-spacer-x: 4rem;
  --bs-card-border-width: none;
}
.menu-2 {
  margin: 120px 0;
}
/*end menu-2 section*/
/*start about us section*/
.AboutUs-for-lap{
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  margin-bottom: 100px;
}

.AboutUs-for-lap .img {
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 1;
}

.AboutUs-for-lap .overlay {
  position: absolute;
  height: 100%;
  background: #0d0d0dd9;
  backdrop-filter: blur(1px);
  z-index: 2;
}
.AboutUs-body {
  position: absolute;
  z-index: 3;

}
.AboutUs-body .card {
  --bs-card-bg: none;
  --bs-card-border-color: none;
  color: #ffffff;
  padding: 103px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.AboutUs-body .card-img {
 width: 120px;
  height: 120px;
  margin-bottom: 40px;
}
.AboutUs-body .card-title {
  margin-bottom: 20px;
  text-align: center;
}
.AboutUs-for-tablet{
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  margin-bottom: 100px;
}

.AboutUs-for-tablet .img-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 1;
}
.AboutUs-for-tablet  .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0d0d0dd9;
  backdrop-filter: blur(1px);
  z-index: 2;
}

.carousel-item {
  position: relative;
  width: 100%;
  height: 500px;
}

.carousel-inner {
  height: 100%;
  align-items: center;
}

.carousel-card {
  position: relative;
  z-index: 3;
  text-align: center;
  color: #fff;
  padding-top: 140px;
}
.carousel-card-img {
  width: 120px;
  height: 120px;
  margin-bottom: 40px;
}
.carousel-card-title {
  font-size: 2.5rem;
  font-weight: bold;
}

/*end about us section*/
/*start menu-3 section*/
.menu-3 .category p {
  margin: 0;
}

.menu-3 .category {
  margin: 0;
}
.menu-3 .card {
  --bs-card-spacer-x: 4rem;
  --bs-card-border-width: none;
}
.menu-3 {
  margin: 120px 0;
}
/*end menu-3 section*/
/*start menu-4 section*/
.menu-4 .category p {
  margin: 0;
}

.menu-4 .category {
  margin: 0;
}
.menu-4 .card {
  --bs-card-spacer-x: 4rem;
  --bs-card-border-width: none;
}
.menu-4 {
  margin: 120px 0;
}
/*end menu-4 section*/
