/*start menu-1 section*/

.menu-1 .category p {
  margin: 0;
}

.menu-1 .category {
  margin: 0;
}
.menu-1 .card {
  --bs-card-spacer-x: 4rem;
  --bs-card-border-width: none;
}
.menu-1 {
  margin: 120px 0;
}
/*end menu-1 section*/
/*start menu-2 section*/
.menu-2 .category p {
  margin: 0;
}

.menu-2 .category {
  margin: 0;
}
.menu-2 .card {
  --bs-card-spacer-x: 4rem;
  --bs-card-border-width: none;
}
.menu-2 {
  margin: 120px 0;
}
/*end menu-2 section*/
/*start menu-3 section*/
.menu-3 .category p {
  margin: 0;
}

.menu-3 .category {
  margin: 0;
}
.menu-3 .card {
  --bs-card-spacer-x: 4rem;
  --bs-card-border-width: none;
}
.menu-3 {
  margin: 120px 0;
}
/*end menu-3 section*/
/*start menu-4 section*/
.menu-4 .category p {
  margin: 0;
}

.menu-4 .category {
  margin: 0;
}
.menu-4 .card {
  --bs-card-spacer-x: 4rem;
  --bs-card-border-width: none;
}
.menu-4 {
  margin: 120px 0;
}
/*end menu-4 section*/

/*start menu-5 section*/

.menu-5 .category p {
  margin: 0;
}

.menu-5 .category {
  margin: 0;
}
.menu-5 .card {
  --bs-card-spacer-x: 4rem;
  --bs-card-border-width: none;
}
.menu-5 {
  margin: 120px 0;
}
/*end menu-5 section*/
/*start menu-6 section*/
.menu-6 .category p {
  margin: 0;
}

.menu-6 .category {
  margin: 0;
}
.menu-6 .card {
  --bs-card-spacer-x: 4rem;
  --bs-card-border-width: none;
}
.menu-6 {
  margin: 120px 0;
}
/*end menu-6 section*/
/*start menu-7 section*/

.menu-7 .category p {
  margin: 0;
}

.menu-7 .category {
  margin: 0;
}
.menu-7 .card {
  --bs-card-spacer-x: 4rem;
  --bs-card-border-width: none;
}
.menu-7{
  margin: 120px 0;
}
/*end menu-7 section*/